@import "tailwindcss";

body {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
  font-weight: 200;
}

.logotype {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
}

.get-involved div[data-tf-widget] {
  min-height: 900px !important;
}